<h1>{{../helpers/name}} <small>{{./name}}</small></h1>
  <script>console.log('meal.hb start');</script>
<div>
  {{#if desc}}
    {{desc}}
  {{else}}
    No description.
  {{/if}}
</div>
  <script>console.log('meal.hb end');</script>
