  <script>console.log('menu-lising.hb start');</script>
{{#each restaurants}}
  <div data-restaurant-id="{{id}}" ><div>
    <h2>{{name}}</h2>
    <p>{{address}}</p>

{{/each}}
  <script>console.log('menu-lising.hb start');</script>
